*
!*.*
!*/

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
__pycache__

### macOS ###
# General
.DS_Store

# Thumbnails
._*

### LaTeX ###
*.aux
*.gz
*.log
*.out
*.pdf

### Python ###
__pycache__
.ruff_cache
*.pt
*.pth

*.docx

# Extras
articles
examples
tests

test.*

data/uploads/
data/history.json
data/last_upload.json

